openapi: 3.1.0
info:
  title: Polysplit RPC
  version: '1.0'
paths:
  /status:
    get:
      operationId: GetStatus
      responses:
        '200':
          description: GET /status Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusPositiveResponse'
              examples:
                example1:
                  value:
                    status: success
                    data:
                      status: healthy
        '400':
          description: GET /status Negative response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusNegativeResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
      summary: Status of server
      tags:
        - Status
  /v1/stats:
    get:
      operationId: GetV1Stats
      responses:
        '200':
          description: GET /v1/stats Positive response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1StatsPositiveResponse'
        '400':
          description: GET /v1/stats Negative response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetV1StatsNegativeResponse'
              examples:
                example1:
                  value:
                    status: error
                    error:
                      message: Sample error message
components:
  schemas:
    GetStatusPositiveResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
        data:
          type: object
          properties:
            status:
              type: string
          required:
            - status
          examples:
            - status: healthy
      required:
        - status
        - data
    GetStatusNegativeResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - error
        error:
          type: object
          properties:
            message:
              type: string
          required:
            - message
      required:
        - status
        - error
    GetV1StatsPositiveResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
        data:
          type: object
          properties:
            shared:
              type: object
              properties:
                countFromLanding:
                  type: integer
                  format: int64
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                countFromLanding24:
                  type: integer
                  format: int64
                  minimum: -9007199254740991
                  maximum: 9007199254740991
              required:
                - countFromLanding
                - countFromLanding24
            perChainId:
              type: object
              additionalProperties:
                type: object
                properties:
                  popularRpc:
                    type: string
                  uniqueUsers:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  responseTimeMs:
                    type: object
                    properties:
                      avg:
                        type: number
                        format: double
                        minimum: -900719254740991
                        maximum: 1.7976931348623157e+308
                      min:
                        type: number
                        format: double
                        minimum: -900719254740991
                        maximum: 1.7976931348623157e+308
                      max:
                        type: number
                        format: double
                        minimum: -900719254740991
                        maximum: 1.7976931348623157e+308
                    required:
                      - avg
                      - min
                      - max
                  topRpcs:
                    type: array
                    items:
                      type: string
                  errorCount:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  errorCount24:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  okCount:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  okCount24:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  totalCount:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  totalCount24:
                    type: integer
                    format: int64
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                  avgAttempts:
                    type: number
                    format: double
                    minimum: -900719254740991
                    maximum: 1.7976931348623157e+308
                  avgAttempts24:
                    type: number
                    format: double
                    minimum: -900719254740991
                    maximum: 1.7976931348623157e+308
                required:
                  - popularRpc
                  - uniqueUsers
                  - responseTimeMs
                  - topRpcs
                  - errorCount
                  - errorCount24
                  - okCount
                  - okCount24
                  - totalCount
                  - totalCount24
                  - avgAttempts
                  - avgAttempts24
          required:
            - shared
            - perChainId
      required:
        - status
        - data
    GetV1StatsNegativeResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - error
        error:
          type: object
          properties:
            message:
              type: string
          required:
            - message
      required:
        - status
        - error
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes: {}
  links: {}
  callbacks: {}
tags: []
servers:
  - url: https://rpc.polysplit.cloud
